#include "m3d_q.dtsi"

/* ---------------------------
 * 右側キーマトリクス列 GPIO
 * --------------------------- */
&k0 {
    col-gpios = <&xiao_d 6 GPIO_ACTIVE_HIGH>,
                <&xiao_d 3 GPIO_ACTIVE_HIGH>,
                <&xiao_d 2 GPIO_ACTIVE_HIGH>,
                <&xiao_d 1 GPIO_ACTIVE_HIGH>,
                <&xiao_d 0 GPIO_ACTIVE_HIGH>;
};
